html {
  font-family: helvetica neue, helvetica, arial, sans-serif;
}

a,
a:visited,
a:target,
a:hover {
  text-decoration: none;
  color: #0366d6;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.readme-summary {
  white-space: pre-wrap;
  color: rgb(95, 95, 95);
  max-height: 300px;
  overflow: hidden;
  overflow-y: auto;
}

.readme-summary__loader {
  height: 60px;
}

.readme-summary code {
  background: rgb(255, 255, 223);
  padding: 4px;
  display: inline-block;
}

.clickable {
  cursor: pointer;
}
