html {
  font-family: helvetica neue, helvetica, arial, sans-serif;
}

a,
a:visited,
a:target,
a:hover {
  text-decoration: none;
  color: #0366d6;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.readme-summary {
  white-space: pre-wrap;
  color: rgb(145, 145, 145);
  max-height: 300px;
  overflow: hidden;
  overflow-y: auto;
}

.clickable {
  cursor: pointer;
}
